<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pet Store</title>
	<link href="https://fonts.googleapis.com/css?family=Cardo|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
	<!-- <div class='container'> -->
		<header>
			<nav>
				<div id="links">
				<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="newsletter.html">News Letter</a></li>
				</ul>
				</div>
			</nav>
		</header>

		<div class='container'>
		<main>
			<div class='section'>
				<div class='row-1'>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veniam dolorum, eos accusantium ad nulla iure eveniet esse hic. Architecto commodi, beatae, culpa maiores aliquam cumque corrupti itaque impedit neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veniam dolorum, eos accusantium ad nulla iure eveniet esse hic. Architecto commodi, beatae, culpa maiores aliquam cumque corrupti itaque impedit neque.

				  ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veniam dolorum, eos accusantium ad nulla iure eveniet esse hic. Architecto commodi, beatae, culpa maiores aliquam cumque corrupti itaque impedit neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veniam dolorum, eos accusantium ad nulla iure eveniet esse hic. Architecto commodi, beatae, culpa maiores aliquam cumque corrupti itaque impedit neque.</p>


				</div>
				<div class='row-2'>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, expedita praesentium amet nihil, cum a sapiente error ad est, nesciunt ex eos aliquam consectetur assumenda, nobis animi magnam dolorem atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, expedita praesentium amet nihil, cum a sapiente error ad est, nesciunt ex eos aliquam consectetur assumenda, nobis animi magnam dolorem atque.

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, expedita praesentium amet nihil, cum a sapiente error ad est, nesciunt ex eos aliquam consectetur assumenda, nobis animi magnam dolorem atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, expedita praesentium amet nihil, cum a sapiente error ad est, nesciunt ex eos aliquam consectetur assumenda, nobis animi magnam dolorem atque.</p>

				</div>
			</div>
		<div id='about'>
			<h2>About</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores doloribus cupiditate recusandae, tempora alias optio, obcaecati ratione magni totam nemo fugit labore provident quos! Iste consectetur ipsam tempora dignissimos vel voluptate, nulla delectus facilis, quis minus error repellat, vero esse atque, ducimus voluptatum autem natus aspernatur quam. Officiis atque, quos. Tenetur voluptate blanditiis commodi reiciendis eveniet ut veniam eos corporis, voluptatum laboriosam accusantium impedit id perferendis et, nam a culpa, fugit optio animi nihil eum tempore adipisci. Quos voluptatum quasi optio nobis vitae tenetur unde corporis culpa, voluptatibus cumque, explicabo et nam quia atque architecto omnis accusantium autem reprehenderit.</p>
		</div>


		</main>
		</div>
		
		<footer>
			<div id="footer-container">
				<div class="social-links">
					<a href="https://www.facebook.com/mind1990"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
					<a href="https://twitter.com/?lang=en"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
					<a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
			</div>
				<p class="copyright">©TAMS</p>
		</footer>
	<!-- </div> -->
</body>
</html>